[Unit]
Description=Pulseaudio tray
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/env pasystray

[Install]
WantedBy=my-graphical-session.target
