[Unit]
Description=XFCE screensaver
PartOf=my-graphical-session.target

[Service]
ExecStart=/usr/bin/env xfce4-screensaver

[Install]
WantedBy=my-graphical-session.target
