[Unit]
Description=XFCE settings daemon
PartOf=my-graphical-session.target

[Service]
ExecStart=/usr/bin/env xfsettingsd --no-daemon

[Install]
WantedBy=my-graphical-session.target
